

if SHIELD_SWEEP_LEFT
# Name must be less than 16 characters long!
config ZMK_KEYBOARD_NAME
    default "Sweep"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif


if SHIELD_SWEEP_LEFT || SHIELD_SWEEP_RIGHT
config ZMK_SPLIT
    default y
endif


config ZMK_POINTING
    default y

# Assuming pointing device uses SPI
config SPI
    default y

# config SPI
#     default y

# config SSD16XX
#     default y

# config LV_Z_VDB_SIZE
# default 100

# config LV_DPI_DEF
#     default 130

# config LV_Z_BITS_PER_PIXEL
#     default 1

# choice LV_COLOR_DEPTH
#     default LV_COLOR_DEPTH_16
# endchoice

# config ZMK_DISPLAY_BLANK_ON_IDLE
# default n

# config HEAP_MEM_POOL_SIZE
#     default 1024

# config LV_Z_MEM_POOL_SIZE
#     default 4096

# config LV_USE_THEME_MONO
#     default y

# choice ZMK_DISPLAY_WORK_QUEUE
#     default ZMK_DISPLAY_WORK_QUEUE_DEDICATED
# endchoice


config SPI
    default y

config SSD16XX
    default y


if LVGL

config LV_Z_VDB_SIZE
    default 64

config LV_DPI_DEF
    default 148

config LV_Z_BITS_PER_PIXEL
    default 1

choice LV_COLOR_DEPTH
    default LV_COLOR_DEPTH_16
endchoice


endif # LVGL


